services:
  aspm:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: aspm_container
    platform: linux/amd64
    ports:
      - "8080:8080" 
    env_file:
      - .env        
    volumes:
      - .:/app             
    environment:
      - PYTHONUNBUFFERED=1
    command: sleep infinity