name: ASPM
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      GIT_TERMINAL_PROMPT: 0
      GIT_SSH_COMMAND: "ssh -o StrictHostKeyChecking=no"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "GitHub Actions Bot"

      - name: Deploy to DigitalOcean Droplet
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
          debug: true
          script: |
            cd ASPM
            sudo systemctl enable docker
            docker pull mastersubhajit/aspm:latest
            docker stop aspm
            docker run -d -p 8080:8080 mastersubhajit/aspm:latest
            
            
        