name: ASPM
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      GIT_TERMINAL_PROMPT: 0
      GIT_SSH_COMMAND: "ssh -o StrictHostKeyChecking=no"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "GitHub Actions Bot"

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            docker pull mastersubhajit/aspm:latest
            
        